@use "./variables" as *;

// SCREENS
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

// FONT STYLE
@mixin textStyle($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

// TABLET + DESKTOP FONT STYLE
@mixin pageHeader {
  @include textStyle(3.3rem, 4.4rem, 700);
}

@mixin sectionHeader {
  @include textStyle(1.2rem, 2rem, 700);
}

@mixin subheader {
  @include textStyle(1.4rem, 2.2rem, 700);
}

@mixin body {
  @include textStyle(1.4rem, 2.2rem, 400);
}

@mixin labelsAndButtons {
  @include textStyle(1.2rem, 2rem, 700);
}

// MOBILE FONT STYLE
@mixin mobilePageHeader {
  @include textStyle(2.4rem, 3.2rem, 700);
}

@mixin mobileSectionHeader {
  @include textStyle(1.3rem, 2rem, 700);
}

@mixin mobileSubheader {
  @include textStyle(1.3rem, 1.8rem, 700);
}

@mixin mobileBody {
  @include textStyle(1.3rem, 1.8rem, 400);
}

@mixin mobileLabelsAndButtons {
  @include textStyle(1rem, 2rem, 700);
}

@mixin mobileLabelsAndButtons {
  @include textStyle(1.2rem, 2rem, 700);
}

@mixin links {
  text-decoration: none;
  color: $font-primary;
}

@mixin glass {
  // border: 1px solid rgb(55 55 55);
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
