// SCREEN SIZES
$desktop: 1280px;
$tablet: 768px;

// COLORS
$primary: #1d1a22;
$secondary: #f5f5f5;

$font-primary: #1d1a22;
$font-secondary: #f5f5f5;
$font-highlight: #2f2b35;

$button-go-text: rgba(71, 255, 211, 1);
$button-go-primary: rgba(71, 255, 211, 0.37);
$button-go-secondary: rgba(71, 255, 211, 0.21);

$button-neutral-text: #3e4968;
$button-neutral-primary: #161a29;
$button-neutral-secondary: #3e4968;

$button-stop-text: rgba(255, 71, 71, 1);
$button-stop-primary: rgba(255, 71, 71, 0.37);
$button-stop-secondary: rgba(255, 71, 71, 0.21);
