// SCREEN SIZES
$desktop: 1280px;
$tablet: 768px;

// COLORS
// $primary: #000000;
// $secondary: #f5f5f5;

// $font-primary: #e0e0e0;
// $font-secondary: #000000;
// $font-highlight: #505050;

$primary: #000000;
$secondary: #2d2d2d;

$font-primary: #ffffff;
$font-secondary: #d1d1d1;
$font-highlight: #f0c808;

$border: #3a3a3a;
$accent: #f05454;

$button-go-text: rgba(71, 255, 211, 1);
$button-go-primary: rgba(71, 255, 211, 0.37);
$button-go-secondary: rgba(71, 255, 211, 0.21);

$button-neutral-text: #3e4968;
$button-neutral-primary: #161a29;
$button-neutral-secondary: #3e4968;

$button-stop-text: rgba(255, 71, 71, 1);
$button-stop-primary: rgba(255, 71, 71, 0.37);
$button-stop-secondary: rgba(255, 71, 71, 0.21);
