@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.interview {
  @include flex(column, center, center);
  @include mobileBody;
  color: $font-primary;
  margin: 0 $mobile-gutter;

  @include tablet {
    @include body;
    margin: 0 $gutter;
  }

  &__video {
    position: fixed;
    left: -29rem;
    top: -27rem;
    rotate: 55deg;
    width: 80rem;
    height: 80rem;
    z-index: -1;

    // position: fixed;
    // left: -16rem;
    // top: -41rem;
    // rotate: 34deg;
    // width: 80rem;
    // height: 80rem;
    // z-index: -1;

    @include tablet {
      left: -27rem;
      top: -45rem;
      width: 105rem;
      height: 105rem;
    }
  }

  &__swirl {
    position: fixed;
    width: 10rem;
    height: 10rem;
  }

  &__vector1 {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 10rem;
    height: 10rem;
  }

  &__vector2 {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 10rem;
    height: 10rem;
  }

  &__vector3 {
    position: fixed;
    z-index: -1;
    bottom: -35rem;
    left: -34rem;
    width: 100rem;
    height: 100rem;
    rotate: 47deg;
    opacity: 0.75;
  }

  &__title {
    @include mobilePageHeader;
    border-left: 1px solid $secondary;
    padding: 0 1rem;
    mix-blend-mode: difference;
    -webkit-mix-blend-mode: difference;
    -moz-mix-blend-mode: difference;
    -ms-mix-blend-mode: difference;

    @include tablet {
      @include pageHeader;
    }
  }
}

.info {
  @include flex(column, center, center);

  &__form {
    @include flex(column, center, center);
  }

  &__textarea {
    @include glass;
    color: $font-primary;
    font-family: lalo;
    outline: none;
    padding: 1rem;

    text-align: center;
    resize: none;
    height: 10rem;
    width: 100%;
    border: 1px solid $border;
    transition: all 0.25s linear;

    &:focus {
      border: 1px solid $secondary;
    }
  }

  &__text {
    @include glass;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;

    @include tablet {
      padding: 2rem;
    }
  }

  //   &__wrapper {
  //     @include flex(row, space-between, center);
  //     @include glass;
  //     border: 1px solid $border;
  //     width: 100%;
  //   }

  &__categories {
    @include flex(column, space-between, null);
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem 0;

    @include tablet {
      @include flex(row, null, null);
      flex-wrap: nowrap;
    }
  }

  &__category {
    @include flex(null, center, null);
    @include glass;
    margin: 0.5rem 0;
    padding: 0 1rem;
    border: 1px solid $border;
    transition: all 0.25s linear;
    cursor: pointer;

    @include tablet {
      justify-content: unset;
      flex-wrap: nowrap;
      width: 30%;
    }
  }

  &__category--selected {
    border: 1px solid $secondary;
  }

  &__subtitle {
    border-left: 1px solid $secondary;
    padding: 0 1rem;
  }

  &__level {
    opacity: 0.5;
  }

  &__submit {
    @include glass;
    cursor: pointer;
    font-family: lalo;
    color: $font-primary;
    margin: 1rem 0;
    padding: 1rem 5rem;
    border: 1px solid $border;
    transition: all 0.25s linear;
  }
}

.start {
  @include flex(row, center, center);

  &__button {
    // @include glass;
    background-color: $button-go-primary;
    font-family: lalo;
    color: $font-highlight-2;
    margin: 1rem 0;
    padding: 1rem 5rem;
    // border: 1px solid $border;
    border: transparent;
    transition: all 0.25s linear;
    cursor: pointer;

    &:hover {
      background-color: $button-go-secondary;
    }
  }

  &__button--active {
    background-color: $button-stop-primary;

    &:hover {
      background-color: $button-stop-secondary;
    }
  }
}
